.list-container{
    width: 95%;
    margin: auto;
    max-height: 30vh;
    overflow: scroll;
}
.expense-list-item{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.amount-trash-container{
    display: flex;
    align-items: center;
}

.action-icon-container span{
   height: 20px !important;
   width: 20px !important;
   margin-left: 5px;
}

.button-confirmation-container{
    margin-top: 20px;
}
 
