@import "../style/mainStyle.scss";
.expenses-card{
    display: flex;
    align-items: center;
    margin: auto;
    @include neumorphismDark;
    padding: 10px;
    width: 90vw;
    cursor: pointer;
    color: whitesmoke;
    @extend quickSand;
}

.expenses-card:hover{
    background: rgba(214, 214, 214, 0.48);
}

.expense-img-container{
    position: relative;
}

.blob{
    height: 130px;
    position: absolute;
}


.wallet-icon{
    height: 80px;
    margin-right: 20px;
    position: relative;
}


