.date-container, .amount-container{
    display: flex;
    justify-content: space-around;
}

.form-add-expense{
    color: whitesmoke;
}

.add-expense-submit-container{
    .submit-btn{
        margin-bottom: 30px;
    }
}