@import "../style/mainStyle.scss";

.loader-container{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #74C69D;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;
    z-index: 10;
}

.loader-container h1{
    @extend quickSand;
    font-size: 50px;
    margin-block-start: 0px;
    padding-top: 20%;
}