@import "../style/mainStyle.scss";

.input-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.email-container{
    input{
        width: 70vw;
    }
}

.login-btn-container{
    margin: auto;
    .login-btn{
        border: none;
        @include submitButton(#252525,#FAFAFA);
        padding: 10px 60px;
        @extend quickSand;
        margin-bottom: 10px;
    }
}

.password-container{
    display: flex;
}

.password-container{
    input{
        width: 50vw;
        margin-right: 30px;
    }
}


.eye-icon-container{
    cursor: pointer;
}
.line-google-one{
    border-bottom: 1px solid whitesmoke;
    width: 30%;
    margin: 10px 0px;
}
.division-google{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.division-google{
    >h3{
        font-size: 25px;
        margin-block-start: .2em;
        margin-block-end: .2em;
        @extend dosis;
        letter-spacing: 2px;
    }
}

.login-google-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.google-login{
    border: 1px solid gray;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.google-login-title{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(132, 132, 132);
    font-weight: bold;
    margin-right: 12px;
    letter-spacing: 1px;
}

.google-login{
    svg{
        font-size: 30px;
        border: 1px solid gray;
        border-radius: 50%;
        padding: 2px;
    }
}
