@import "../style/mainStyle.scss";

.simulation-card{
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    @include neumorphismDark;
    padding: 10px;
    width: 90vw;
    cursor: pointer;
    color: whitesmoke;
    @extend quickSand;
    animation: fade-in-about 0.5s ease-out forwards;  
}

.simulation-card:hover{
    background: rgba(214, 214, 214, 0.48);
}

.simulation-img-container{
    position: relative;
    margin-right: 20px;
}

.blob-simulation{
    height: 130px;
    position: absolute;
    left: -25%;
    top: -35%;
}


.projection-icon{
    height: 80px;
    margin-right: 10px;
    position: relative;
}
