@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

quickSand{
    font-family: 'Quicksand', sans-serif;
}

dosis{
    font-family: 'Dosis', sans-serif;
}

$transparentCardBack : rgba(0, 0, 0, 0.758);
$transparentCardColor:  whitesmoke;
$submitButtonColor: #FAFAFA;
$submitButtonBack: #252525;

@mixin transparent-card ($backColor:$transparentCardBack, $borderColor:$transparentCardColor) {
    background: $backColor;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid $borderColor
}

@mixin submitButton($backColor: $submitButtonBack,$color:$submitButtonColor){
    font-family: monospace;
    font-size: 1.2rem;
    color: $color;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid $color;
    background: $backColor;
    box-shadow: 3px 3px $color;
    cursor: pointer;

    &:active{
        box-shadow: none;
        transform: translate(3px, 3px);    
    }
}