@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

quickSand{
    font-family: 'Quicksand', sans-serif;
}

dosis{
    font-family: 'Dosis', sans-serif;
}
 
navBarHeader{
    font-family: 'Sirin Stencil', cursive;
    letter-spacing: 2px;
}


$transparentCardBack : rgba(0, 0, 0, 0.758);
$transparentCardColor:  whitesmoke;
$submitButtonColor: #FAFAFA;
$submitButtonBack: #252525;

@mixin transparent-card ($backColor, $borderColor) {
    background: $backColor;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid $borderColor
}

@mixin submitButton($backColor: $submitButtonBack,$color:$submitButtonColor){
    font-family: monospace;
    font-size: 1.2rem;
    color: $color;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid $color;
    background: $backColor;
    box-shadow: 3px 3px $color;
    cursor: pointer;

    &:active{
        box-shadow: none;
        transform: translate(3px, 3px);    
    }
}

@mixin greenButton {
    --color: #07ebb2;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    
    
    &::before, &::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
    }
    
    &::before {
    top: -1em;
    left: -1em;
    }
    
    &::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
    }
    
    &:hover::before, &:hover::after {
    height: 410px;
    width: 410px;
    }
    
    &:hover {
    color: rgb(10, 25, 30);
    }
    
    &active {
    filter: brightness(.8);
    }
}

@mixin redButton {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(252, 70, 100);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    
    
    &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 70, 100);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
    }
    
    &:hover::before {
    transform: translateX(0);
    }
}

@mixin neumorphismDark {
    border-radius: 37px;
    background: linear-gradient(145deg, #1f1f1f, #242424);
    box-shadow:  17px 17px 41px #0e0e0e,
                 -17px -17px 41px #363636;
}