@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.goal-form-toggle{
    display: flex;
    margin: auto;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}

.goal-cards-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}
.goal-card{
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.48);
    border-radius: 20px;
    width: 90vw;
    margin: auto;
    height: fit-content;
    padding: 10px;
}

.goal-card-image-container{
   height: 80px;
   width: 80px;
   margin-right: 20px;
}

.goal-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.goal-text-container{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
}

.goal-text-container h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.percentage-goal-card{
    flex-basis: 100%;
}