@import "../style/mainStyle.scss";

.landing-container{
    padding: 70px 10px;
}

.message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include  transparent-card($transparentCardBack,$transparentCardColor); 
    padding: 10px;
    color: whitesmoke;

    >h3{
        margin-block-start: 10px;
        margin-block-end: 0px;
        @extend quickSand;
        font-size: 30px;
    }

    h4{
        margin-block-start: 0px;
        margin-block-end: 10px;
        @extend quickSand;
        font-size: 17px;
    }
    p{
        @extend dosis;
    }
}


.division-line{
    border: 1px solid whitesmoke;
    width: 90%;
    margin: 10px 0px;
}

.login-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.forgot-register-container{
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: space-around;
    *:-webkit-any-link{
        color: whitesmoke;
    }
}

.back-arrow-container{
    svg{
        color: whitesmoke;
    }
}