@import "../style/mainStyle.scss";

.landing-container{
    padding: 70px 10px;
}

.message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;

    >h3{
        margin-block-start: 10px;
        margin-block-end: 0px;
        @extend quickSand;
        font-size: 30px;
    }

    h4{
        margin-block-start: 0px;
        margin-block-end: 10px;
        @extend quickSand;
        font-size: 17px;
    }
    p{
        @extend dosis;
    }
}


.division-line{
    border: 1px solid #012A4A;
    width: 90%;
    margin: 10px 0px;
}

.login-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-link{
    margin-top: 10px;
}