@import "../style/mainStyle.scss";

.reset-title{
    margin-block-start: 0px;
    @extend quickSand;
    font-size: 25px;
}


.main-reset-container{
    padding-top: 100px;
    width: 90%;
    margin: auto;
    color: whitesmoke;
}

.main-reset-container {
    p{
        @extend dosis;
        margin-bottom: 30px;
    }

}

.form-reset-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include  transparent-card($transparentCardBack,$transparentCardColor); 
    padding: 10px;
}