.sim-card{
    background-color: whitesmoke;
    margin: 10px;
    padding: 3px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}